<app-loading *ngIf="loading"></app-loading>

<div class="backgroud-navbar"></div>
<nav class="navbar navbar-main navbar-expand-lg navbar-bg-black fixed-top justify-content-lg-between nav-web">
    <a class="navbar-brand" href="#">
        <img src="./assets/images/logo confex com texto.png" alt="Logo" srcset="" height="30"
        style="margin-top: 10px; margin-bottom: 10px;">
    </a>
</nav>

<div class="d-flex justify-content-center align-items-start container-login container">
    <div class="card col-md-7 col-lg-4 col-sm-8">
        <nav class="navbar navbar-main navbar-expand-lg navbar-bg-black justify-content-lg-between nav-mobile">
            <a class="navbar-brand" href="#">
                <img src="./assets/images/logo confex com texto.png" alt="Logo" srcset="" height="30"
                style="margin-top: 10px; margin-bottom: 10px;">
            </a>
        </nav>

        <form class="form form-container p-5">
            <div class="row pt-3">
                <div class="col-12">
                    <h2 class="text-title">Olá! Para continuar, digite o seu e-mail e a senha</h2>
                </div>
                <div class="col-12 mt-4">
                    <label for="email" class="text-muted">e-mail</label>
                    <input [formControl]="emailFormControl" placeholder="Ex. lucas@outlook.com" [(ngModel)]="loginData.email" id="email" name="email" class="form-control">

                    <span *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')" class="errorSpan">
                        Digite um e-mail válido
                    </span>
                    <span *ngIf="emailFormControl.hasError('required')" class="errorSpan">
                        E-mail é <strong>obrigatório</strong>
                    </span>
                </div>
                <div class="col-12 mt-4">
                    <label for="password" class="text-muted">senha</label>
                    <div class="d-flex input-group">
                        <input [type]="hide ? 'password' : 'text'" [formControl]="passwordFormControl" [(ngModel)]="loginData.password" id="password" name="password" class="form-control">
                        <span class="input-group-text" (click)="hide = !hide" style="cursor: pointer;"><i class="fa"
                                [ngClass]="{'fa-eye': hide, 'fa-eye-slash': !hide }" aria-hidden="true"></i></span>
                    </div>
                    <span *ngIf="passwordFormControl.hasError('required')" class="errorSpan">
                        Senha é <strong>obrigatória</strong>
                    </span>
                </div>
            </div>

            <div class="row mt-4 pb-3">
                <div class="col-12 d-flex">
                    <button [disabled]="loading" (click)="onSubmit()" class="btn btn-lg btn-blue flex-fill">
                        Entrar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>