.centralDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.errorSpan {
    color: red;
}

i {
    color: black;
}

.container-login {
    height: 100vh;
    width: 100%;
}

.container-login .card {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgb(0 0 0 / 15%);
    margin-top: 10%;
}

.input-group input {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group .input-group-text {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.backgroud-navbar {
    width: 100%;
    height: 300px;
    // background-image: url('../../../assets/bg.png');
    background-color: #ffcc4a;
    background-size: calc(100% /4);
    background-position-y: top;
    position: absolute;
}

.nav-web {
    display: block;
}

.nav-mobile {
    display: none;
}

@media (max-width: 576px) {
    .container-login {
        padding: 0 !important;
    }
    .container-login .card {
        border-bottom: none;
        box-shadow: none;
        width: 100%;
        height: 100vh;
        padding: 0;
        margin-top: 0;
    }
    .navbar-main {
        // background-image: url('../../../assets/bg.png');
        background-color: #ffcc4a;
        background-size: calc(100% /4);
        background-position-y: top;
    }
    .nav-web {
        display: none;
    }
    .nav-mobile {
        display: block;
    }
}