.container-print {
    min-height: 500px;
}

.container-card-img-top {
    height: 43.741851369vw;
    padding: 5px;
}

.container-card-img-top img {
    max-height: 100%;
    width: auto!important;
    max-width: 100%;
}

@media (min-width: 768px) {
    .container-print {
        min-height: 500px;
    }
    .container-card-img-top {
        height: 123.328px;
    }
}

@media (min-width: 992px) {
    .container-print {
        min-height: 500px;
    }
    .container-card-img-top {
        height: 223.328px;
    }
}

@media (min-width: 1200px) {
    .container-print {
        min-height: 500px;
    }
    .container-card-img-top {
        height: 189.188px;
    }
}