.container-order {
    position: fixed;
    top: 120px;
    right: 0;
    width: 30%;
    height: calc(100vh - 120px);
    z-index: 1028;
    background-color: white;
    box-shadow: 0 -2px 8px black;
    overflow-y: auto;
}

.card {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0;
}

.order-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../../assets/images/order-empty.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    background-size: 30% auto;
    opacity: 0.5;
}


.card-img-left {
    height: 158px;
}

.card-img-left img {
    max-height: 100%;
    width: auto !important;
    max-width: 100%;
}

.card-img-rigth {
    height: 75px;
}

.card-img-rigth img {
    max-height: 100%;
    width: auto !important;
    max-width: 100%;
}

@media (max-width: 1400px) {
    .container-order {
        width: 45%;
    }
}

@media (max-width: 992px) {
    .container-order {
        width: 100%;
        top: 76px;
        height: calc(100vh - 76px);
        overflow-y: auto;
    }
}

.input-group input {
    border-right: 0;
    border-left: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group .input-group-text-left {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group .input-group-text-right {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.itens-product-kit {
    height: 30px;
    margin-bottom: -5px;
    right: -3px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.circle-itens-product-kit {
    border: none;
    height: 15px;
    width: 15px;
}

.card-itens-product-kit {
    background-color: white;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgb(0 0 0 / 15%);
    border: 1px solid rgba(0, 0, 0, 0.125);
    height: 30px;
    width: 30px;
}