<div *ngIf="show" class="container-order">
    <div class="container-fluid" *ngIf="order">
        <div class="card" *ngFor="let stockProduct of order.stockProducts">
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center align-items-center card-img-left p-2">
                    <img style="width: 100%;" [src]="stockProduct.product.photo ? stockProduct.product.photo : './assets/images/product-default.jpg'" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="card-title d-flex justify-content-between">
                            <h5>{{stockProduct.product.name}}</h5>
                            <h5>{{(stockProduct.print ? stockProduct.product.stampedPrice : stockProduct.product.price) * stockProduct.quantitySel | currency:'BRL'}}</h5>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="text-muted m-0">
                                {{stockProduct.color.name}}, {{stockProduct.size.name}}
                            </p>
                            <select class="form-select flex-fill ml-4" [(ngModel)]="stockProduct.quantitySel" (change)="changeQtd()">
                                <option *ngFor="let i of arrayNumber(stockProduct.quantity)" [value]="i">
                                    {{i}} {{i === 1 ? 'unidade' : 'unidades'}}
                                </option>
                            </select>
                        </div>
                        <div class="d-flex {{stockProduct.print ? 'justify-content-between' : 'justify-content-end'}}">
                            <img style="max-height: 50px" *ngIf="stockProduct.print" [src]="stockProduct.print.imageFile" [alt]="stockProduct.print.name">
                            <button style="width: 100px;" type="button" class="btn btn-orange align-self-center mt-2 mb-2" (click)="remover(stockProduct)">Excluir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" *ngFor="let product of order.stockProductsKit">
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center align-items-center card-img-left p-2">
                    <img style="width: 100%;" [src]="product.photo ? product.photo : './assets/images/product-default.jpg'">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="card-title d-flex justify-content-between">
                            <h5>{{product.name}}</h5>
                            <h5>{{product.price * product.quantitySel | currency:'BRL'}}</h5>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <select class="form-select flex-fill mr-4" [(ngModel)]="product.quantitySel" (change)="changeQtd()">
                                <option *ngFor="let i of arrayNumber(product.quantity)" [value]="i">
                                    {{i}} {{i === 1 ? 'unidade' : 'unidades'}}
                                </option>
                            </select>
                            <button style="width: 100px;" type="button" class="btn btn-orange align-self-center mt-2 mb-2" (click)="removerKit(product)">Excluir</button>
                        </div>
                        <div class="d-flex justify-content-end">
                            <a (click)="product.isCollapsed = !product.isCollapsed" class="text-primary" style="cursor: pointer;">Visualizar
                                Kit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" *ngIf="product.isCollapsed">
                <div class="row" *ngFor="let stockProduct of product.selStockProductsKit">
                    <div class="col-9">
                        <div class="card-body">
                            <div class="card-title d-flex justify-content-start mb-0">
                                <h5>{{stockProduct.product.name}}</h5>
                            </div>
                            <div class="d-flex justify-content-start align-items-center mt-0">
                                <p class="text-muted">
                                    {{stockProduct.color.name}}, {{stockProduct.size.name}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 d-flex justify-content-center align-items-center card-img-rigth  p-2">
                        <img style="width: 100%;" [src]="stockProduct.product.photo ? stockProduct.product.photo : './assets/images/product-default.jpg'" alt="...">
                        <div *ngIf="stockProduct.print" class="itens-product-kit d-flex align-items-center justify-content-end">
                            <div class="card-itens-product-kit d-flex justify-content-center align-items-center" style="margin-right: 2px;">
                                <img class="card-img-print" *ngIf="stockProduct.print" [alt]="stockProduct.print.name" [src]="stockProduct.print.imageFile">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="order" class="row pt-3 pb-3 pl-4 pr-4">
            <button type="button" class="btn btn-orange flex-fill" (click)="finalityOrder()">Finalizar Pedido</button>
        </div>
    </div>
    <div *ngIf="!order" class="order-empty"></div>
</div>