h1 {
    color: black;
}

.rowTotal {
    color: black;
    display: flex;
    justify-content: flex-end;
}

.circle {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-left: 5px;
}