<app-loading *ngIf="loading"></app-loading>

<app-navbar></app-navbar>

<!-- Modal -->
<ng-template #content let-modal>
    <div class="modal-header d-flex justify-content-start justify-content-md-end pl-2 pl-md-0 pt-2 pb-2 pt-md-0 pb-md-0">
        <a class="model-close" type="button" (click)="modal.dismiss('Cross click')" id="dismissModal">
            <i class="fas fa-close d-none d-lg-block"></i>
            <i class="fas fa-arrow-left text-blue d-block d-lg-none" style="font-size: 22px;"></i>
        </a>
    </div>
    <div class="modal-body">
        <form class="form-container">
            <div class="row row-adicionar-etiqueta">
                <button type="button btn-blue" class="btn btn-add-etiqueta" (click)="fileInput.click()">Adicionar
                    etiqueta</button>
                <input hidden (change)="adicionarArquivo()" #fileInput type="file" id="file" accept="application/pdf">
            </div>
            <hr>
            <div class="row" style="min-height: 200px;">
                <div class="container-fluid">
                    <div class="card" *ngFor="let tag of order.orderTags">
                        <div style="display: flex; justify-content: space-between; padding-right: 7px">
                            <div>
                                <span>{{tag.file}}</span>
                            </div>
                            <div>
                                <a (click)="openFile(tag.fileData)" style="cursor: pointer; align-self: flex-end">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<!-- Pedido -->
<div class="container-fluid container-main container-main-white" style="background-color: white; padding: 30px;">
    <div class="form-container">
        <h1 class="text-title">Detalhes do pedido</h1>
        <div class="row">
            <div class="col-sm-12 col-md-2">
                <label for="id">Código</label>
                <input type="text" class="form-control" id="id" placeholder="Código do pedido" [(ngModel)]="order.id" name="id" disabled>
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="parceiro">Parceiro</label>
                <input type="text" class="form-control" id="parceiro" placeholder="Parceiro" [(ngModel)]="order.partner" name="parceiro" disabled>
            </div>
            <div class="col-sm-12 col-md-2">
                <label for="data">Data</label>
                <input class="form-control" placeholder="Data do pedido" name="dp" [(ngModel)]="order.date" id="data" disabled>
            </div>
            <div class="col-sm12 col-md-2">
                <label for="data">Pago</label>
                <input class="form-control" type="checkbox" id="payed" name="payed" [checked]="order.payed" [(ngModel)]="order.payed" style="width: 30px" disabled>
            </div>
        </div>
        <br />
        <div class="row" style="display: flex; justify-content: flex-end; padding-right: 17px">
            <a class="icon" style="cursor: pointer; color:black; text-decoration: none" (click)="open(content)">
                <i class="fa fa-tags" style="color: black; margin-right: 4px"></i> Etiquetas</a>
        </div>
        <hr />

        <h1 class="text-title">Itens do pedido</h1>

        <div class="row">
            <div class="col-lg-6 col-md-12  mt-2 pl-1" *ngFor="let item of filterStockProducts(order.orderProducts); index as i">
                <div class="card p-2 pl-4 pr-4">
                    <div class="row">
                        <div class="col-md-2 d-flex align-items-center flex-column">
                            <div class="d-flex">
                                <div *ngIf="item.orderProductPrints.length > 0" class="itens-product-kit d-flex align-items-center justify-content-end img-kit-2">
                                    <div class="card-itens-product d-flex justify-content-center align-items-center" style="margin-right: 2px;">
                                        <img class="card-img-print" [src]="item.orderProductPrints[0].photo">
                                    </div>
                                </div>
                            </div>
                            <img [src]="item.stockProduct.product.photo ? item.stockProduct.product.photo : './assets/images/product-default.jpg'" alt="..." style="max-height: 100px;">
                        </div>
                        <div class="col-md-7">
                            <div class="d-flex align-items-start justify-content-center justify-content-md-start mt-3 mt-md-0 flex-wrap">
                                <div class="circle" [ngStyle]="{'background-color': '#' + item.stockProduct.color.hexadecimal}">
                                </div>
                                <p class="m-0 ml-2 mr-2" style="font-weight: bold;text-align: center;">
                                    {{ item.stockProduct.product.name }}
                                </p>
                                <p class="d-none d-sm-block">-</p>
                                <p class="m-0 ml-2">{{item.stockProduct.size.name }}</p>
                            </div>
                            <div class="flex-md-column justify-content-between justify-content-md-start d-none d-sm-flex">
                                <p>Tamanho: {{item.stockProduct.size.name }}</p>
                                <p>Cor: {{item.stockProduct.color.name }}</p>
                            </div>
                        </div>
                        <div class="col-md-3 mt-2">
                            <div class="d-flex flex-sm-column justify-content-center justify-content-sm-center align-items-end" style="height: 100%;">
                                <p class="mr-4 mr-sm-0 text-danger">{{ (item.price | currency:'BRL':'symbol':'1.2':'pt') }} X {{ item.quantity}}
                                </p>
                                <p class="text-success">{{ (item.price * item.quantity | currency:'BRL':'symbol':'1.2':'pt') }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 mt-2 pl-1" *ngFor="let item of filterProducts(order.orderProducts); index as i">
                <div class="card p-2 pl-4 pr-4">
                    <div class="row">
                        <div class="col-md-2 d-flex align-items-center justify-content-center">
                            <img [src]="item.product.photo ? item.product.photo : './assets/images/product-default.jpg'" alt="..." style="max-height: 100px;">
                        </div>
                        <div class="col-md-7">
                            <div class="d-flex align-items-start justify-content-center justify-content-md-start mt-3 mt-md-0 flex-wrap">
                                <p class="m-0 ml-2 mr-2" style="font-weight: bold;text-align: center;">
                                    {{ item.product.name }}
                                </p>
                            </div>
                            <div class="d-flex align-items-start justify-content-center justify-content-md-start mt-3 mt-md-2 flex-wrap ">
                                <div *ngFor="let kit of item.orderKitStockProducts" class="card align-items-center justify-content-center card-img-print-container img-kit p-1 mt-1 mb-1 mr-1">
                                    <div class="itens-product-kit-2 d-flex align-items-center justify-content-end">
                                        <div *ngIf="kit.orderProductPrints.length > 0" class="card-itens-product-kit-2 d-flex justify-content-center align-items-center" style="margin-right: 2px;">
                                            <img class="card-img-print" [src]="kit.orderProductPrints[0].print ? kit.orderProductPrints[0].print.photo : './assets/images/print-product.png'">
                                        </div>
                                        <div class="card-itens-product-kit-2 d-flex justify-content-center align-items-center" style="margin-right: 2px;">{{kit.stockProduct.size.name}}</div>
                                        <div class="card-itens-product-kit-2 d-flex justify-content-center align-items-center">
                                            <div class="circle circle-itens-product-kit m-0" [style]="{'background-color': '#' + kit.stockProduct.color.hexadeci}">
                                            </div>
                                        </div>
                                    </div>
                                    <img class="card-img-print" [src]="kit.stockProduct.product.photo">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mt-2">
                            <div class="d-flex flex-sm-column justify-content-center justify-content-sm-center align-items-end" style="height: 100%;">
                                <p class="mr-4 mr-sm-0 text-danger">{{ (item.price | currency:'BRL':'symbol':'1.2':'pt') }} X {{ item.quantity}}
                                </p>
                                <p class="text-success">{{ (item.price * item.quantity | currency:'BRL':'symbol':'1.2':'pt') }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 7px">
            <div class="col-sm-12 col-md-12 rowTotal">
                <strong>Total: {{order.total | currency:'BRL':'symbol':'1.2':'pt'}}</strong>
            </div>
        </div>

        <div class="rowSalvar">
            <button class="btn btn-cancelar" (click)="close()">Voltar</button>
        </div>
    </div>
</div>