.fa-heart {
    color: #fc6616 !important;
}

.card-img {
    max-height: 482px;
    width: auto !important;
    max-width: 100%;
}

.card-price {
    font-size: 22px;
}

.card-img-print {
    max-height: 178px;
}