<div class="row">
    <div class="col-md-7 p-4">
        <img [src]="product.photo" class="card-img" alt="" srcset="">
    </div>
    <div class="col-md-5">
        <div class="card-title model-title">
            {{product.name}}
        </div>
        <div>{{product.price | currency :'BRL'}}</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <label for="description">Descricação:</label>
        <p id="description" class="text-muted">{{product.description}}</p>
    </div>
</div>