<div *ngIf="!product" style="height: 600px;" class="d-flex align-items-center justify-content-center">
    <app-spinner></app-spinner>
</div>
<div *ngIf="product" class="row">
    <div class="col-sm-12">
        <div class="card-title model-title d-block d-lg-none">
            {{product.name}}
        </div>
    </div>
    <div class="col-md-6 p-4 ml-4 d-flex align-items-center justify-content-center">
        <img [src]="product.photo" class="card-img" alt="" srcset="" onerror="this.src = './assets/images/product-default.jpg'">
    </div>
    <div class="col-md-5 pr-md-0 ml-md-2 p-3 p-md-2">
        <div class="card-title model-title d-none d-lg-block">
            {{product.name}}
        </div>
        <div class="card-price">
            <div *ngIf="!print" class="d-flex flex-column">
                <p class="m-0">{{product.price | currency :'BRL'}}</p>
                <p class="text-muted m-0" style="font-size: 12px;">ESTAMPADO: {{product.stampedPrice | currency :'BRL'}}
                </p>
            </div>
            <div *ngIf="print" class="d-flex flex-column">
                <p class="m-0">{{product.stampedPrice | currency :'BRL'}}</p>
                <p class="text-danger m-0" style="font-size: 12px; text-decoration: line-through;">SEM ESTAMPA: {{product.price | currency :'BRL'}}</p>
            </div>
        </div>
        <div *ngIf="product.kits.length" class="mt-3">
            <label class="text-muted pr-2 mb-2">Kit:</label>
            <div class="d-flex d-flex align-items-center justify-content-start overflow-scroll-x flex-nowrap">
                <div *ngFor="let kit of product.kits" class="card align-items-center justify-content-center card-img-print-container img-kit p-1 mt-1 mb-1 mr-1">
                    <img class="card-img-print" [src]="kit.product ? kit.product.photo : './assets/images/print-product.png'">
                </div>
            </div>
        </div>
        <div *ngIf="!product.kits.length" class="mt-3">
            <label class="text-muted pr-2">Tamanho:</label>
            <label>{{selSize ? selSize.name : ''}}</label>
            <ul class="navbar-nav d-flex flex-row flex-wrap">
                <li *ngFor="let size of sizes" class="nav-item me-auto mr-3 mb-2 mb-0 mt-1 mt-2">
                    <a type="button" [style]="{'background-color': selSize  && size.id === selSize.id ? '#6c757d' : '', 'color': selSize  && size.id === selSize.id ? 'white' : ''}" (click)="selectSize(size)" class="btn btn-outline-secondary">{{size.name}}</a>
                </li>
            </ul>
        </div>
        <div *ngIf="!product.kits.length" class="mt-3">
            <label class="text-muted pr-2">Cor:</label>
            <label>{{selColor ? selColor.name : ''}}</label>
            <ul class="navbar-nav d-flex flex-row flex-wrap">
                <li *ngFor="let color of colors" class="nav-item me-auto mr-3 mb-2 mb-0 mt-1 mt-2">
                    <a type="button" (click)="selectColor(color)">
                        <div class="circle" [style]="{'background-color': '#' + color.hexadecimal, 'border-color' : selColor  && color.id === selColor.id ?  '#ff9d35' : '#203A43'}">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="mt-1">
            <label class="text-muted pr-2 mb-2">Estampa:</label>
            <div class="card align-items-center justify-content-center card-img-print-container" (click)="open(content)">
                <img class="card-img-print" [src]="print ? print.imageFile : './assets/images/print-product.png'">
            </div>
        </div>
        <div class="card mt-3">
            <div class="d-flex">
                <button type="button" class="btn btn-orange flex-fill" (click)="addStockProduct()">
                    <i class="fas fa-shopping-cart"></i> Adicionar Carrinho
                </button>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <p class="text-danger mt-1" style="font-size: 15px;">{{msg}}</p>
        </div>
    </div>
</div>
<div *ngIf="product" class="row">
    <div class="col-sm-12">
        <label for="description">Descrição:</label>
        <p id="description" class="text-muted">{{product.description}}</p>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header d-flex justify-content-start justify-content-md-end pl-2 pl-md-0 pt-2 pb-2 pt-md-0 pb-md-0">
        <a class="model-close" type="button" (click)="modal.dismiss('Cross click')">
            <i class="fas fa-close d-none d-lg-block"></i>
            <i class="fas fa-arrow-left text-orange d-block d-lg-none" style="font-size: 22px;"></i>
        </a>
    </div>
    <div class="modal-body">
        <app-prints (print)="printSelect($event, modal)"></app-prints>
    </div>
</ng-template>