.fa-heart {
    color: #fc6616 !important;
}

.card-img {
    max-height: 482px;
    width: auto !important;
    max-width: 100%;
}

.card-price {
    font-size: 22px;
}

.card-img-print {
    max-height: 178px;
    max-width: 100%;
}

.card-img-print-container {
    cursor: pointer;
    height: 178px;
}

@media (max-width: 768px) {
    .card-img-print {
        max-height: none;
    }
    .card-img-print-container {
        height: auto;
    }
}

.img-kit {
    height: 110px;
    width: 104px;
    min-width: 104px;
    // cursor: pointer;
}

.img-kit img {
    max-height: 100%;
    max-width: 100%;
}

.overflow-scroll-x {
    overflow-x: auto;
}

.itens-product-kit {
    height: 30px;
    margin-top: -5px;
    right: -3px;
    position: absolute;
    top: 0;
    width: 100%;
}

.circle-itens-product-kit {
    border: none;
    height: 15px;
    width: 16px;
}

.card-itens-product-kit {
    background-color: white;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgb(0 0 0 / 15%);
    border: 1px solid rgba(0, 0, 0, 0.125);
    height: 30px;
    width: 30px;
}