.fa-heart {
    color: #fc6616 !important;
}

.card-img {
    max-height: 482px;
    width: auto !important;
    max-width: 100%;
}

.card-price {
    font-size: 22px;
}

.card-img-print {
    max-height: 178px;
    max-width: 100%;
}

.card-img-print-container {
    cursor: pointer;
    height: 178px;
}

@media (max-width: 768px) {
    .card-img-print {
        max-height: none;
    }
    .card-img-print-container {
        height: auto;
    }
}