/* You can add global styles to this file, and also import other style files */


.fas, .far {
    color: white;
}

.icon{
    /* width: 45px; */
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 20px; */
}

@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
}
