/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
body {
    font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif, sans-serif;
}

.icon {
    /* width: 45px; */
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 20px; */
}

.modal-header {
    padding: 0;
    border: 0;
}

.model-close {
    padding: 5px 10px;
    color: black;
}

.model-title {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 8px;
    line-height: 1.18;
}

label {
    margin: 0;
}

.circle {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 2px solid #6c757d;
}

.modal-body {
    padding: 0 1rem;
}

.btn-orange {
    background-color: #ff9d35;
}

.text-orange {
    color: #ff9d35;
}

.card-text {
    font-size: 0.9rem;
    color: #535557!important;
}

.card-default {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgb(0 0 0 / 15%);
}

.modal-dialog-centered .modal-content .modal-header {
    background-color: rgba(83, 85, 87, 0.07);
}

.modal-dialog-centered .modal-content .modal-body {
    padding-top: 10px;
}

@media (max-width: 768px) {
    .modal-dialog-centered {
        margin: 0;
    }
    .modal-dialog-centered .modal-content {
        width: 100vw;
        height: 100vh;
        border: 0;
        border-radius: 0;
        top: 0;
        position: absolute;
    }
    .modal-dialog-centered .modal-content .modal-body {
        height: calc(100vh - 32px);
        overflow-y: auto;
    }
    .modal-dialog-centered .modal-content .modal-header {
        background-color: transparent;
    }
}

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px;
    }
}